@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* #49a09d
   #5f2c82
*/
body,
html {
  background-color: #5f2c82;
  width: 100vw;
  height: 100vh;
}
main {
  position: relative;
  width: 100vw;
  height: 100vh;
}
section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 270px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
}
section#login > div#imagen {
  display: block;
  background: #5f2c82 url(../img/foto.jpg);
  background-size: cover;
  background-position: left bottom;
  height: 200px;
}
section#login > div#formulario {
  display: block;
  padding: 10px;
}
div#formulario > h1 {
  text-align: center;
  padding: 5px;
}
div#formulario > p {
  font-size: 0.9em;
  margin: 10px 0px;
}
form > input[type="submit"] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #52bebb;
  border: none;
  border-radius: 5px;
  color: #132c2b;
  margin-top: 10px;
  cursor: pointer;
}
form > input[type="submit"]:hover {
  background-color: #2a615f;
  color: white;
}
form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: #52bebb;
  border-radius: 5px;
  color: #132c2b;
  text-decoration: none;
}
form > a.botao:hover {
  background-color: #2a615f;
  color: white;
}
form > a.botao > i {
  font-size: 1em;
}
form > div.campo {
  background-color: #5f2c82;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin: 5px 0px;
}
div.campo > label {
  display: none;
}
div.campo > span {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}
div.campo > input {
  background-color: #52bebb;
  font-size: 1em;
  width: calc(100% - 44.8px);
  height: 100%;
  border: 0px;
  border-radius: 10px;
  padding: 4px;
  transform: translateY(-10px);
}
div.campo > input:focus-within {
  background-color: white;
}
